import React from 'react';

export default function {{EntityName}}Form() {
  return (
    <form>
{{#each fieldList}}
  <div className="field-row">
  <label>{{this.label}}</label><br />
{{#if this.isTextArea}}
  <textarea name="{{this.name}}" />
{{else}}
  <input type="{{this.uiControl}}" name="{{this.name}}" />
{{/if}}
      </div>
{{/each}}

      <button type="submit">Save</button>
    </form>
  );
}
